.kontener{
      margin-left: 5% ;
      margin-top: 2% ;
    border: 1px groove grey ;
    padding:10px;
    display: inline-block;
}

.kontener input,label,textarea,select,p{
    margin:5px;
}


#Kobieta{
    checked:checked;
}
/*
#Kobieta {
   checked:unchecked; 
}

#Mężczyzna:active{
    checked:checked;
    #Kobieta{
       checked:unchecked;  
    }
}

#Kobieta:active{
    checked:checked;
      #Mężczyzna{
       checked:unchecked;  
    }
}*/
